# DEVICES ARE DENIED BY DEFAULT
ENV{UDISKS_IGNORE}="1", ENV{OK}="0"
 
# SHARED DEVICES (1 YES/0 NO) ?
ENV{ID_FS_USAGE}=="filesystem|other|crypto", ENV{UDISKS_FILESYSTEM_SHARED}="0"
 
# LIST OF AUTHORIZED USB DEVICES
ACTION=="add", ENV{ID_FS_USAGE}=="filesystem", ENV{ID_SERIAL_SHORT}=="160400005", ENV{OK}="1"
ACTION=="add", ENV{ID_FS_USAGE}=="filesystem", ENV{ID_SERIAL_SHORT}=="182E9D", ENV{OK}="1"
ACTION=="add", ENV{ID_FS_USAGE}=="filesystem", ENV{ID_SERIAL_SHORT}=="60A44C413812", ENV{OK}="1"
 
# MOUNTS AUTHORIZED DEVICES
ENV{OK}=="1", ENV{UDISKS_AUTO}="1", ENV{UDISKS_IGNORE}="0"
 
# CALLS USB.SH FOR LOGGING AND ALERTING
ACTION=="add", ENV{ID_FS_USAGE}=="filesystem", RUN+="/usr/local/sbin/usb.sh 'A' '%E{ID_SERIAL_SHORT}' '%E{DEVNAME}'  '%E{OK}'"
ACTION=="remove", ENV{ID_FS_USAGE}=="filesystem", RUN+="/usr/local/sbin/usb.sh 'R' '%E{ID_SERIAL_SHORT}'"